{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'semantic/dist/semantic.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'container.css' %}">

    <!-- html 만 열어볼 때를 대비한 include문 -->
    <link rel="stylesheet" type="text/css" href="../../static/semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/container.css">
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="{% static 'semantic/dist/semantic.min.js' %}"></script>
    <meta charset="UTF-8">
    <title>고.전</title>
</head>
<body>

<div class="ui fixed inverted menu">
    <div class="ui container">
        <a href="/" class="header item">
            고연전 Ko-yeon-Jeon
        </a>
        <a href="/" class="item">홈 Home</a>
        <div class="ui simple dropdown item">
            메뉴 <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" href="history">고연전 소개 About Ko-yeon-Jeon</a>
                <a class="item" href="way">경기장 가는 길 How to get to the Venue</a>
                <a class="item" href="song">응원가 Cheering Songs</a>
                <a class="item" href="dance">응원 안무 Cheering Dances</a>

            </div>
        </div>
    </div>
</div>


{% block content %}
{% endblock %}

</body>
{%  block javascript %}
{% endblock %}
</html>