{% extends 'hci/base.html' %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'semantic/dist/semantic.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'container.css' %}">
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="{% static 'semantic/dist/semantic.min.js' %}"></script>
    <meta charset="UTF-8">
    <title>고.전</title>
</head>
<body>

{% block content %}

    <div class="ui three column doubling stackable grid container" style="display: flex; justify-content: center; margin-top:4em; ">
        {% for dance in dances %}
            <div class="column" >
                <div class="ui card" style="width:400px">
                    <div class="image">
                    </div>
                    <div class="content">
                        <a class="header"> {{ dance.title }}</a>
                        <iframe id="player" type="text/html" width="320" height="180"
                                src="http://www.youtube.com/embed/{{ dance.video_url }}?enablejsapi=1"
                                frameborder="0"></iframe>
                    </div>
                    <div class="extra content">
                        <i class="user icon"></i>
                        <a href="https://www.youtube.com/watch?v={{ dance.video_url }}" target="_blank" >유튜브에서 보기 Watch on Youtube</a>
                    </div>
                </div>
            </div>

        {% endfor %}

{% endblock %}
</div>

</body>


</html>