{% extends 'hci/base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'semantic/dist/semantic.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'container.css' %}">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="{% static 'semantic/dist/semantic.min.js' %}"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


{% block content %}

    <div class="ui raised very padded text container segment" style="margin-top:7em">
        <h2 class="ui header">고연전의 역사</h2>
        <p></p>
        <p></p>
    </div>
    <div class="text container">
        <table class="ui celled table">
            <thead>
            <tr>
                <th>연도</th>
                <th>야구_고대</th>
                <th>야구_연대</th>
                <th>야구_결과</th>
                <th>농구_고대</th>
                <th>농구_연대</th>
                <th>농구_결과</th>
                <th>빙구_고대</th>
                <th>빙구_연대</th>
                <th>빙구_결과</th>
                <th>럭비_고대</th>
                <th>럭비_연대</th>
                <th>럭비_결과</th>
                <th>축구_고대</th>
                <th>축구_연대</th>
                <th>축구_결과</th>
                <th>종합_고대</th>
                <th>종합_무승부</th>
                <th>종합_연대</th>
                <th>종합_결과</th>
            </tr>
            </thead>
            <tbody>
            {% for score in scores %}
                <tr>
                    <td>{{ score.year }}</td>
                    <td>{{ score.baseball_k }}</td>
                    <td>{{ score.baseball_y }}</td>
                    <td>{{ score.baseball_r }}</td>
                    <td>{{ score.baseketball_k }}</td>
                    <td>{{ score.baseketball_y }}</td>
                    <td>{{ score.baseketball_r }}</td>
                    <td>{{ score.ice_k }}</td>
                    <td>{{ score.ice_y }}</td>
                    <td>{{ score.ice_r }}</td>
                    <td>{{ score.football_k }}</td>
                    <td>{{ score.football_y }}</td>
                    <td>{{ score.football_r }}</td>
                    <td>{{ score.soccer_k }}</td>
                    <td>{{ score.soccer_y }}</td>
                    <td>{{ score.soccer_r }}</td>
                    <td>{{ score.total_k }}</td>
                    <td>{{ score.total_tie }}</td>
                    <td>{{ score.total_y }}</td>
                    {% if "승" in score.total_r %}
                        <td class="positive"><i class="icon checkmark"></i> {{ score.total_r }}</td>
                    {% else %}
                        <td>{{ score.total_r }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
</body>
</html>