{% extends 'hci/base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'semantic/dist/semantic.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'container.css' %}">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="{% static 'semantic/dist/semantic.min.js' %}"></script>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>


{% block content %}

    <div class="container main-image">
        <img class="ui centered fluid image" src="{% static 'image/ko-yon-jeon.png' %}" style="width:80%;margin-top:4em;margin-bottom:4em;"/>
    </div>

    {% for match in matches %}
    <div class="ui inverted segment first" style="width:80%; margin:auto; padding:10px; margin-top:4em">
        <!-- 경기명 상단 -->
        <div class="ui inverted statistic" style="display: flex; justify-content: center;">
            {% if forloop.counter0 == 0 %}
                <div class="ui raised segment">
      <a class="ui red ribbon label">업데이트</a>
      <span class="updated_data">{{ match.updated_titme.month}}월 {{ match.updated_titme.day }}일 {{ match.updated_titme.time }}에 업데이트 된 정보입니다.</span>
    </div>

            {% endif %}
            <div class="text value" style="display: flex; flex-direction: column; justify-content: center;">
                {{ match.name_kr }}
            </div>
            <div class="label en">
                {{ match.name_en }}
            </div>
        </div>

        <div class="ui inverted statistics" style="display: flex; flex-direction: row; justify-content: center;">
            <div class="ui red inverted two statistic">
                <div class="value kr">
                    <img src="{% static 'image/ic_korea.jpg' %}" class="ui circular inline image">
                    {{ match.score_kr }}
                </div>
                <div class="label">
                    고려대 Korea
                </div>
            </div>

            <a class="ui yellow circular label">VS</a>

            <div class="ui blue inverted statistic">
                <div class="value ys">
                    <img src="{% static 'image/ic_yonsei.png' %}" class="ui circular inline image">
                    {{ match.score_ys }}
                </div>
                <div class="label">
                    연세대 Yonsei
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <div class="ui inverted segment second" style="width:80%; margin:auto; margin-top: 4em; padding:10px">
        <a class="ui yellow empty circular label"></a>
        <span style="color: white">뒷풀이 정보 Post Party Info</span>
        <div class="ui inverted divider"></div>
        <p style="color: white">이번 고연전 메인 기차놀이는
        <span class="ui yellow horizontal label">신촌</span>
        일대에서 진행됩니다.</p>
        <p style="color: white">Post party of Ko-yeon-jeon will be held around
        <span class="ui yellow horizontal label">Shin-chon</span>
        this year.</p>
        <p style="color: white">고연전 당일 무료 주점 목록(안암)은 다음과 같습니다. <a href="https://www.facebook.com/AnamSASM/?ref=ts&fref=ts"><span class="ui red horizontal label">출처: 안암의 모든 것 페북 페이지</span></a></p>
        {% for rest in rests %}
            <p style="color: white"><span class="ui red horizontal label">{{ rest.name }}</span> (후원 : {{ rest.location }})</p>
        {% endfor %}
    </div>
{% endblock %}
{% block javascript %}
    <script>

	$(".ribbon").click(function() {
		$.ajax({
			dataType: "json",
			url: "{% url 'hci:main_data'%}"
		}).done(function(data) {

            var textValue = $(".text");
			console.log(data);
			var dataList = '';

            for (var i = 0; i < data.length; i++) {
                $(".text").each(function (index) {
                    if (i === index) {
                        $(this).html(data[i].name_kr)
                    }
                });

                $(".en").each(function (index) {
                    if (i === index) {
                        $(this).html(data[i].name_en)
                    }
                });

                $(".kr").each(function (index) {
                    if (i === index) {
                        $(this).html('<img src="static/image/ic_korea.jpg" class="ui circular inline image">\n' +
                            '                    '+data[i].score_kr)
                    }
                });

                $(".ys").each(function (index) {
                    if (i === index) {
                        $(this).html('<img src="static/image/ic_yonsei.png" class="ui circular inline image">\n' +
                            '                    '+data[i].score_ys)
                    }
                });

                // 첫번째가 최신 업데이트 된 정보이므로

                var myDateTimeNow = new Date(data[0].updated_time);
                var ampm = ""
                if (myDateTimeNow.getHours() < 12) {
                    ampm = " 오전"
                }else{
                    ampm = " 오후"
                }
                $(".updated_data").html((myDateTimeNow.getMonth() + 1) + "월 " + myDateTimeNow.getDate() + "일 " + myDateTimeNow.getHours() + ":" + myDateTimeNow.getMinutes() + ampm + "에 업데이트 된 정보입니다.")

            }
		}).fail(function() {
			console.log("Failed fetching data");
		});
	})

    if (Date.now() > Date.parse('09/23/2017 18:00:00')) {
	    $(".second").insertAfter(".container.main-image");
    }

</script>
{% endblock %}
</body>



</html>