{% extends 'hci/base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'semantic/dist/semantic.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'container.css' %}">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="{% static 'semantic/dist/semantic.min.js' %}"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


{% block content %}

    <div class="container">
        <img class="ui centered fluid image" src="{% static 'image/koyon-jeon.png' %}" style="width:60%"/>
    </div>

    <div class="ui inverted segment" style="width:80%; margin:auto; padding:10px">
        <!-- 경기명 상단 -->
        <div class="ui inverted statistic" style="display: flex; justify-content: center;">
            <div class="text value" style="display: flex; flex-direction: column; justify-content: center;">
                아이스하키
            </div>
            <div class="label">
                현재 경기
            </div>
        </div>

        <div class="ui inverted statistics" style="display: flex;flex-direction: row; justify-content: center;">
            <div class="ui red inverted two statistic">
                <div class="value">
                    <img src="{% static 'image/ic_korea.jpg' %}" class="ui circular inline image">
                    42
                </div>
                <div class="label">
                    고려대
                </div>
            </div>

            <div class="ui blue inverted statistic">
                <div class="value">
                    <img src="{% static 'image/ic_yonsei.png' %}" class="ui circular inline image">
                    12
                </div>
                <div class="label">
                    연세대
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>